/* Designer CSS */
.designer-toolbar {
    font-size: small;
    background: #EEE;
    display: flex;
}

.designer-toolbar input {
    margin-right: 5px;
}

.designer-actions {
    display: flex;
    flex: 1;
}

.designer-options {
    border-left: solid 2px;
    display: flex;
    flex: 1;
    justify-content: right;
}

.editor {
    height: 100%;
    flex-direction: row;
    display: flex;
}

.editor-board {
    background: black;
    width: 100%;
    height: 100%;
}

.config-panel {
    background: #EEE;
    min-width: 20vw;
    max-width: 40vw;
    overflow-y: auto;
}

@media (max-width: 800px) {
    .editor {
        flex-direction: column;
    }

    .config-panel {
        height: 50vh;
        max-width: 100%;
        width: 100%;
        margin-top: 8px
    }
}

canvas {
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;
}